USE [master]
GO
/****** Object:  Database [InventoryDB]    Script Date: 18-04-2021 13:08:53 ******/
CREATE DATABASE [InventoryDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\InventoryDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\InventoryDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryDB]
GO
/****** Object:  Table [dbo].[barcodedata]    Script Date: 18-04-2021 13:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barcodedata](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[Rid] [bigint] NULL,
	[Rcol] [bigint] NULL,
	[pid] [bigint] NULL,
 CONSTRAINT [PK_barcodedata] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[color]    Script Date: 18-04-2021 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[color](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[colorcode] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK_color] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 18-04-2021 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[productcode] [nvarchar](50) NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rack]    Script Date: 18-04-2021 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rack](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
	[weightid] [bigint] NULL,
 CONSTRAINT [PK_Rack] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rackcolumn]    Script Date: 18-04-2021 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rackcolumn](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[colorid] [bigint] NULL,
	[sizeid] [bigint] NULL,
 CONSTRAINT [PK_Rackcolumn] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: 18-04-2021 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Range] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK_size] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[weight]    Script Date: 18-04-2021 13:08:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[weight](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[weightcode] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
 CONSTRAINT [PK_weight] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[barcodedata]  WITH CHECK ADD  CONSTRAINT [FK_barcodedata_product] FOREIGN KEY([pid])
REFERENCES [dbo].[product] ([Id])
GO
ALTER TABLE [dbo].[barcodedata] CHECK CONSTRAINT [FK_barcodedata_product]
GO
ALTER TABLE [dbo].[barcodedata]  WITH CHECK ADD  CONSTRAINT [FK_barcodedata_Rack] FOREIGN KEY([Rid])
REFERENCES [dbo].[Rack] ([Id])
GO
ALTER TABLE [dbo].[barcodedata] CHECK CONSTRAINT [FK_barcodedata_Rack]
GO
ALTER TABLE [dbo].[barcodedata]  WITH CHECK ADD  CONSTRAINT [FK_barcodedata_Rackcolumn] FOREIGN KEY([Rcol])
REFERENCES [dbo].[Rackcolumn] ([Id])
GO
ALTER TABLE [dbo].[barcodedata] CHECK CONSTRAINT [FK_barcodedata_Rackcolumn]
GO
ALTER TABLE [dbo].[color]  WITH CHECK ADD  CONSTRAINT [FK_color_color] FOREIGN KEY([Id])
REFERENCES [dbo].[color] ([Id])
GO
ALTER TABLE [dbo].[color] CHECK CONSTRAINT [FK_color_color]
GO
ALTER TABLE [dbo].[Rack]  WITH CHECK ADD  CONSTRAINT [FK_Rack_weight] FOREIGN KEY([weightid])
REFERENCES [dbo].[weight] ([Id])
GO
ALTER TABLE [dbo].[Rack] CHECK CONSTRAINT [FK_Rack_weight]
GO
ALTER TABLE [dbo].[Rackcolumn]  WITH CHECK ADD  CONSTRAINT [FK_Rackcolumn_color] FOREIGN KEY([colorid])
REFERENCES [dbo].[color] ([Id])
GO
ALTER TABLE [dbo].[Rackcolumn] CHECK CONSTRAINT [FK_Rackcolumn_color]
GO
ALTER TABLE [dbo].[Rackcolumn]  WITH CHECK ADD  CONSTRAINT [FK_Rackcolumn_size] FOREIGN KEY([sizeid])
REFERENCES [dbo].[size] ([Id])
GO
ALTER TABLE [dbo].[Rackcolumn] CHECK CONSTRAINT [FK_Rackcolumn_size]
GO
ALTER TABLE [dbo].[size]  WITH CHECK ADD  CONSTRAINT [FK_size_size] FOREIGN KEY([Id])
REFERENCES [dbo].[size] ([Id])
GO
ALTER TABLE [dbo].[size] CHECK CONSTRAINT [FK_size_size]
GO
USE [master]
GO
